{
	"svelteStrictMode": false,
	"svelteAllowShorthand": true,
	"svelteIndentScriptAndStyle": true,
	"semi": false,
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"arrowParens": "avoid",
	"bracketSameLine": false,
	"plugins": ["prettier-plugin-svelte"],
	"pluginSearchDirs": ["."],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}
