@font-face {
	font-family: 'Mojang';
	src: url('/mojang-font/Mojang.woff2') format('woff2'),
		url('/mojang-font/Mojang.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Mojang';
	src: url('/mojang-font/Mojang-Bold.woff2') format('woff2'),
		url('/mojang-font/Mojang-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
