*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	color-scheme: dark;
}

body {
	background-color: rgb(12, 9, 9);
	color: #fff;
	margin: 0;
	font-family: 'Be Vietnam Pro', Arial, Helvetica, sans-serif;
}

img {
	display: block;
	max-width: 100%;
}

button,
input {
	color: inherit;
	font-family: inherit;
	text-align: inherit;
}
